{% if settings.output == "html" or settings.output == "richText" %}
	{{ settings.instructions | raw }}
{% else %}
	{{ settings.instructions | markdown }}
{% endif %}



{#
	Pull in the styles from our settings 

	@TODO - Consider adding small images in the styles to 
	call out the field headers (i), (!)...  Our there icons
	available for this in the defaults blocks font icons?
#}
{% set css %}
	
	{{ selectedStyleCss }}

{% endset %}

{% set js %}

	var notesToggleStatus = localStorage.getItem('{{ id }}-field');

	if (notesToggleStatus == 'hidden')
	{
		$('#' + '{{ id }}-field' + ' .input').css('display', 'none');
	}

	$('#' + '{{ id }}-field' + ' label').on('click', function() {
		console.log('{{ id }}-field');
		$('#' + '{{ id }}-field' + ' .input').slideToggle('fast', function(test) {

			var visibility = $('#' + '{{ id }}-field' + ' .input:hidden');

			if (visibility.length == 0)
			{
				localStorage.setItem('{{ id }}-field', 'visible');
			}
			else
			{
				localStorage.setItem('{{ id }}-field', 'hidden');
			}
		});
	});


	{% if (settings.hideLabel)  %}
		$('#' + '{{ id }}-field' + ' .heading').remove();
		$('#' + '{{ id }}-field' + ' .input').css('display', 'block');
	{% endif %}

{% endset %}

{% includeCss css %}
{% includeJs js %}
