.field[id=fields-FIELDHANDLE-field] {
    background-color: #fafafa;
    border: 1px solid #e3e5e8;
    padding: 0;
    border-radius: 5px;
}
.field[id=fields-FIELDHANDLE-field] .heading {
    background: #ebedef;
    padding: 7px 14px 7px;
    margin: 0;
}
.field[id=fields-FIELDHANDLE-field] .input {
    padding: 7px 14px 14px;
}
.field[id=fields-FIELDHANDLE-field] label {
    color: #576575;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding-right: 100px;
}
.field[id=fields-FIELDHANDLE-field] ul {
    color: #232323;
    list-style-type: disc;
    margin: 0 0 1em 3em;
}