{%- set opts  = renderingOptions is defined ? renderingOptions : {} -%}
{%- set data  = (opts.data is defined ? opts.data : null) %}
{%- set class = opts.class is defined ? opts.class : 'sproutfield-link' %}

<input
	name="{{ name}}"
	type="{{ opts.type is defined ? opts.type : 'text' }}"
	{{ field.required is defined and field.required ? 'required' }}
	class="{{ class }}"
	id="{{ opts.id is defined ? opts.id : name }}"
	{%- if value is defined and value %} value="{{ value }}"{% endif %}
	{% for key,dataValue in data %}
		{{ 'data-'~key~'='~dataValue }}
	{% endfor %}
	/>
<span class="sprout-link-button"></span>