{% import "_includes/forms" as forms %}

{{ forms.text({
	id: name,
  name: name,
  value: (value is defined) ? value : ''
}) }}

<span class="sprout-email-button {{ id }}"></span>


{% includeCssResource "sproutfields/css/email.css" %}
{% includeJsResource "sproutfields/js/email.js" %}

{% set myJs %}

(function() {
	checkSproutEmailField("{{ id }}", "{{ name }}");
})();

$('input.{{ id }}').on('input', function () {
	checkSproutEmailField("{{ id }}", "{{ name }}");
});

{% endset %}

{% includeJs myJs %}