{% import "_includes/forms" as forms %}

{# Setup our field #}
<input class="text sprout-regularexpression-field fullwidth" type="text"
	id="{{ name }}"
	name="{{ name }}"
	value="{{ (value is defined) ? value : '' }}"
	autocomplete="off"
	{% if settings.customPattern is not empty %}
		pattern="{{ settings.customPattern }}"
	{% endif %}
	placeholder="{{ placeholder is not empty ? placeholder : null }}">

<span class="sprout-regularexpression-button {{ id }}"></span>

{# Add our CSS and Javascript #}
{% includeCssResource "sproutfields/css/sproutfields.css" %}
{% includeJsResource "sproutfields/js/sproutregularexpressionfield.js" %}

{% set myJs %}

(function() {
	checkSproutRegularExpressionField("{{ id }}", "{{ name }}", "{{ fieldContext }}");
})();

{% endset %}

{% includeJs myJs %}