{% import "_includes/forms" as forms %}

{# Setup our field #}
{{ forms.text({
	id: name,
	name: name,
	value: (value is defined) ? value : '',
	placeholder: placeholder is not empty ? placeholder : null,
}) }}

<span class="sprout-regularexpression-button {{ id }}"></span>

{# Add our CSS and Javascript #}
{% includeCssResource "sproutfields/css/sproutfields.css" %}
{% includeJsResource "sproutfields/js/sproutregularexpressionfield.js" %}

{% set myJs %}

(function() {
	checkSproutRegularExpressionField("{{ id }}", "{{ name }}", "{{ fieldContext }}");
})();

{% endset %}

{% includeJs myJs %}