{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Placeholder Text"|t('sproutFields'),
    instructions: "The text that will be shown if the field doesn’t have a value."|t('sproutFields'),
    id: 'placeholder',
    name: 'placeholder',
    value: field.placeholder
}) }}

{{ forms.selectField({
    name: 'country',
    label: 'Default Country'|t('sprout-fields'),
    options: field.getCountries(),
    value: field.country
}) }}

{{ forms.lightswitchField({
    label: "Accept Numbers from Multiple Countries"|t('sproutFields'),
    name: 'multipleCountriesToggle',
    checked: field.multipleCountriesToggle
}) }}

{{ forms.textField({
    label: 'Error Message'|t('sproutFields'),
    instructions: 'Display this error message when a phone number is invalid.'|t('sproutFields'),
    name: 'customPatternErrorMessage',
    placeholder: 'Phone number must match the format: ##########',
    value: field.customPatternErrorMessage
}) }}