{% import "_includes/forms" as forms %}

{% set isSproutFormsSettingsPage = (craft.app.request.getSegment(1) == 'sproutforms') ? true : false %}

{{ forms.textField({
	label: 'Invisible Field Value'|t('sproutFields'),
	name: 'value',
	instructions: 'Value to set when the field is saved/sent. Twig syntax is supported.'|t('sproutFields'),
	placeholder: '{{ entry.id is defined ? entry.id : null }}',
	warning: (isSproutFormsSettingsPage ? null : "This field is designed to be used with Sprout Forms front-end forms."|t('sproutFields')),
	value: field.value
}) }}

{{ forms.lightswitchField ({
	label: "Allow edits"|t('sproutFields'),
	instructions: "Allow admin users to edit the submitted field value."|t('sproutFields'),
	name: 'allowEdits',
	on: field.allowEdits,
}) }}

{{ forms.lightswitchField ({
	label: "Hide submitted value"|t('sproutFields'),
	instructions: "Don't display the submitted field value."|t('sproutFields'),
	name: 'hideValue',
	on: field.hideValue,
}) }}
