{% import "_includes/forms" as forms %}

{% set isSproutFormsSettingsPage = (craft.request.getSegment(1) == 'sproutforms') ? true : false %}

{{ forms.textField({
	label: 'Invisible Field Value'|t,
	name: 'value',
	instructions: 'Value to set when the field is saved/sent. Twig syntax is supported.'|t,
	placeholder: "{{ object['entry']['id'] is defined ? object.entry.id : null }}",
	warning: (isSproutFormsSettingsPage ? null : "This field is designed to be used with Sprout Forms front-end forms."|t),
	value: settings.value
}) }}

{{ forms.lightswitchField ({
	label: "Allow edits"|t,
	instructions: "Allow admin users to edit the submitted field value."|t,
	name: 'allowEdits',
	on: settings.allowEdits,
}) }}

{{ forms.lightswitchField ({
	label: "Hide submitted value"|t,
	instructions: "Don't display the submitted field value."|t,
	name: 'hideValue',
	on: settings.hideValue,
}) }}
